{% extends 'base.html.twig' %}

{% block title %}The Menu{% endblock %}

{% block body %}
<div class="banner" style="margin-bottom:80px; position: relative; background-image: url('/{{ menu.photo }}'); background-size: cover; background-position: center; height:70vh ;">
  <div class="container p-5">
    <div class="pages d-flex justify-content-between align-items-center">
      <div class="left-sided-pages d-flex justify-content-between">
        <a href="{{path('app_home')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">home</a>
        <a href="{{path('app_about')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">about</a>
      </div>
      <div class="logo text-center">
        <a href="{{ path('app_home') }}" class="text-white text-decoration-none" style="font-family: var(--font-primary); font-size: 32px; font-style: italic;">
          yummy notes <span class="by-maya">by maya</span>
        </a>
      </div>
      {% if app.user %}
      <div class="right-sided-pages">
        <a href="{{ path('app_panier') }}" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">cart</a>
        <a href="{{ path('app_profile') }}" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">my page</a>
      </div>
      {% else %}
      <div class="right-sided-pages">
        <a href="{{path('app_login')}}" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">login</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>


<div class="d-flex flex-column align-items-center">
  <div class="mt-5" id="details">
    <div class="mx-auto" style="padding:0px 300px">
      <div class="d-flex justify-content-between">
        <div id="left-side-details">
          <div class="menu-intro" style="background-color: white; border-radius: 10px; padding: 30px; margin:20px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); ">
            <h1 class="fw-light" style="font-family: var(--font-secondary); font-size: 40px;">{{ menu.name }}</h1>
            <p class="lead text-body-secondary mt-3" style="font-family: var(--font-secondary); font-size: 16px;">{{ menu.description | raw }}</p>
          </div>
          <div class="menu-info" style="background-color: white; border-radius: 10px; padding: 30px; margin:20px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); margin-top: 50px;">
            <span class="lead text-body-secondary" style="font-family: var(--font-secondary); font-size: 16px;"><i class="fa-solid fa-clock"></i>  {{ menu.time | raw }}min</span>
            <span class="lead text-body-secondary" style="font-family: var(--font-secondary); font-size: 16px;"><i class="fa-solid fa-user-group"></i>  {{ menu.quantity | raw }}persons</span>
            <p>ingredients: <br>
              {{menu.ingredients}}
            </p>
          </div>

        </div>
        <div class="menu-funfact" id="right-side-details" style="background-color: white; border-radius: 10px; padding: 30px; margin:20px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); width:1200px;">
          <p style="text-align:end; font-family: var(--font-secondary); font-size: 16px;">fun fact?</p>
          <p class="lead text-body-secondary" style="font-family: var(--font-secondary); font-size: 16px;">{{ menu.funfact | raw }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="payment mt-5">
    <a href="{{ path('app_add_panier', {id:menu.id}) }}" class="btn" style="background-color: #F6F8A1; font-family: var(--font-primary); font-size: 40px; width: 274px; height: 91px; text-align: center; display: flex; align-items: center; justify-content: center;">
      Add to cart
    </a>
  </div>

</div>
{% endblock %}
