{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="d-flex" style="height:100%;">
  <img src="imgs/main.jpg" alt="brand-image" style="width: 60%; height:100vh; object-fit: cover;">
  <div class="login-container" style="margin: 0 auto; align-items: center; margin-top: 150px; text-align: center;">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
          <h1 class="h3 mb-3" style="font-family: var(--font-primary); font-size: 50px; font-style: italic;">yummy notes by maya</h1>
          <div class="input-field" style="margin-top: 80px;" >
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
              class="form-control custom-input mb-5 ps-3" placeholder="Email" autocomplete="email" required autofocus>

            <input type="password" name="password" id="inputPassword"
              class="form-control custom-input ps-3" placeholder="Password" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
          </div>
          <button class="btn btn-lg btn-primary" type="submit" style="margin:0 auto; margin-top: 100px; width: 200px; border:none; color:black; background-color: #F6F8A1; font-family: var(--font-primary); font-size: 26px;">
              Log in
          </button>
    </form>

  </div>
</div>
{% endblock %}
