{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<!-- navbar and background image -->
<div class="banner" style="margin-bottom:80px; position: relative; filter: contrast(0.8); background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('imgs/main.jpg'); background-size: cover; background-position: center; height:70vh ;">
  <div class="container p-5">
    <div class="pages d-flex justify-content-between align-items-center">
      <div class="left-sided-pages d-flex justify-content-between">
        <a href="{{path('app_home')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">home</a>
        <a href="{{path('app_about')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">about</a>
      </div>
      <div class="logo text-center">
        <a href="{{ path('app_home') }}" class="text-white text-decoration-none" style="font-family: var(--font-primary); font-size: 32px; font-style: italic;">
          yummy notes <span class="by-maya">by maya</span>
        </a>
      </div>
      <div class="right-sided-pages">
        <a href="" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">login</a>
      </div>
    </div>
  </div>

  <!-- brand message -->
  <div class="container d-flex flex-column align-items-center" style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <p class="text-white" style="font-family: var(--font-secondary);">Each recipe is crafted with love, rooted
      <br>in the rich culinary traditions of my hometown, Gwangju in Korea.
      <br>Enjoy discovering real home-cooked food where you can truly feel the love!
    </p>

    <!-- search section -->
    <div class="search d-flex justify-content-between" style="width: 400px;">
      <div class="input bg-white bg-opacity-25 rounded w-75" >
        <p style="text-align: center;">An input</p>
      </div>
      <div class="btn" style="background-color: #F6F8A1; font-family: var(--font-primary);">Search</div>
    </div>
  </div>
</div>

<!-- cards section -->
<div class="cards d-flex justify-content-between mb-5" id="highlights" style="margin: 0 auto; width: 1000px;">
  <div class="card-category" style="position: relative; padding:44px 28px; background-color: white; height: 220px; width: 240px; margin-right: 16px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); border-radius: 10px;">
    <h6 style="text-align: end; font-family: var(--font-secondary); font-size: 18px; font-style: italic;">FAVORITES</h6>
    <p style="text-align: end; font-family: var(--font-secondary); font-size: 12px;">We have made a selection of<br>
      our customers' favorite recipes
    </p>
    <div class="btn" style="position: absolute; bottom: 20px; left: 20px; background-color:#F6F8A1; font-family: var(--font-primary);">SeeAll</div>
  </div>
  {% for menu in menus %}
    <div class="card-category" style="position: relative; background-color: white; height: 220px; width: 240px; margin-right:16px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); border-radius: 10px;">
      <div class="image-info" style="margin:0 auto; padding:10px; text-align:center;">
        <img src="{{menu.photo}}" alt="{{menu.name}}-img" style="width: 80%; height: 120px; margin: 10px;object-fit: cover;">
      </div>
      <div class="text-info" style="position: absolute; bottom: 16px; left: 20px;">
        <p style="font-family: var(--font-secondary); font-size: 12px; margin-bottom: 4px; color: black;">{{menu.name}}</p>
        <p style="font-family: var(--font-secondary); font-size: 12px; margin-bottom: 0px; color: black;"><strong>{{menu.time}} min</strong></p>
      </div>
      <div class="btn" style="position: absolute; bottom: 20px; right: 20px; background-color:#F6F8A1; font-family: var(--font-primary);">More</div>
    </div>
  {% endfor %}
</div>


<!-- category section -->
<div class="categories" style="margin: 0 auto; width: 1000px;">
  {% for category in categories %}
    {% if category == categories[0] %}
      <div class="d-flex justify-content-between w-100">
        <div class="category" style="position:relative; width: 65%; height:200px; background-size: cover; background-position: center; background-image: url({{category.photo}}); margin :16px 16px 0px 0px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); border-radius: 10px;">
          <h2 style="font-family: var(--font-primary); font-size: 32px; font-style: italic; color: white; position: absolute; top:20px; right:30px;">{{category.name}}</h2>
          <div class="btn" style="position: absolute; bottom: 20px; left: 20px; background-color:#F6F8A1; font-family: var(--font-primary);">SeeAll</div>
        </div>
      {% elseif category == categories[1] %}
        <div class="category" style="position:relative; width: 35%;height:200px; background-size: cover; background-position: center; background-image: url({{category.photo}}); margin :16px 16px 0px 0px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); border-radius: 10px;">
          <h2 style="font-family: var(--font-primary); font-size: 32px; font-style: italic; color: white; position: absolute; top:20px; right:30px;">{{category.name}}</h2>
          <div class="btn" style="position: absolute; bottom: 20px; left: 20px; background-color:#F6F8A1; font-family: var(--font-primary);">SeeAll</div>
        </div>
      </div>
    {% endif %}
    {% if category == categories[2] %}
    <div class="d-flex align-items-center">
      <div class="category" style="position:relative; width: 45%;height:200px; background-size: cover; background-position: center; background-image: url({{category.photo}}); margin :16px 16px 0px 0px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1); border-radius: 10px;">
        <h2 style="font-family: var(--font-primary); font-size: 32px; font-style: italic; color: white; position: absolute; top:20px; right:30px;">{{category.name}}</h2>
        <div class="btn" style="position: absolute; bottom: 20px; left: 20px; background-color:#F6F8A1; font-family: var(--font-primary);">SeeAll</div>
      </div>
      <div>
        <h2 style="font-family: var(--font-primary); font-size: 32px;">
          <a href="" style="text-decoration: none; color: rgb(202, 198, 178);">>>     <em>discover more</em></a>
        </h2>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
