{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<!-- Navbar -->
<div class="banner" style="margin-bottom:80px; position: relative; filter: contrast(0.8); background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('imgs/main.jpg'); background-size: cover;  background-position: 20% 18%; height:160px ;">
  <div class="container p-5">
    <div class="pages d-flex justify-content-between align-items-center">
      <div class="left-sided-pages d-flex justify-content-between">
        <a href="{{path('app_home')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">home</a>
        <a href="{{path('app_about')}}" class="text-white text-decoration-none me-5" style="font-family: var(--font-secondary); font-size: 16px;">about</a>
      </div>
      <div class="logo text-center">
        <a href="{{ path('app_home') }}" class="text-white text-decoration-none" style="font-family: var(--font-primary); font-size: 32px; font-style: italic;">
          yummy notes <span class="by-maya">by maya</span>
        </a>
      </div>
      <div class="right-sided-pages">
        <a href="{{ path('app_panier') }}" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">cart</a>
        <a href="{{ path('app_profile') }}" class="text-white text-decoration-none ms-5" style="font-family: var(--font-secondary); font-size: 16px;">my page</a>
      </div>
    </div>
  </div>
</div>

<div class="container p-5" style="position: relative;">
  <h1 class="mb-3" style="font-family: var(--font-primary); font-size: 32px; font-style: italic;"><strong>My Cart</strong></h1>
  <section class="">
    <div class="relative overflow-x-auto bg-white" style="margin-top:30px; padding: 50px; border-radius: 30px; box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);">
        <table class="w-100">
            <thead>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Menu
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Time
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quantity
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                      Action
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for item in data %}
                <tr class="border-b dark:bg-gray-800 dark:border-gray-700">
                  <td class="px-6 py-4">
                    {{item.menu.name}}
                  </td>
                  <td class="px-6 py-4">
                    {{item.menu.time}}
                  </td>
                  <td class="px-6 py-4">
                    {{item.quantity}}
                  </td>
                  <td class="px-6 py-4">
                    {{item.menu.price}}
                  </td>
                  <td class="px-6 py-4">
                    <a href="{{ path('app_add_panier', {id:item.menu.id}) }}" class="btn btn-primary">+</a>
                    <a href="{{ path('app_delete_panier', {id:item.menu.id}) }}" class="btn btn-light">-</a>
                    <a href="{{ path('app_remove_panier', {id:item.menu.id}) }}" class="btn btn-danger">delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">Total</td>
                <td class="px-6 py-4">{{ total }}$</td>
                {% if total != 0 %}
                    <td class="px-6 py-4">
                        <a href="{{ path('app_trash_panier')}}" class="btn btn-danger">delete all</a>
                        <a href="{{ path('app_stripe')}}" class="btn btn-success">Pay</a>
                    </td>
                {% endif %}
            </tr>

            </tfoot>
        </table>
    </div>
  </section>
</div>
{% endblock %}
